In [ ]:
def fabonicci():
    pass

In [1]:
n=int(input('Enter total no of terms'))
x,y=1,1
for i in range(0,n):
    if i<=1:
        print(i)
    else:
        print(y)
        x,y=y,x+y

Enter total no of terms5
0
1
1
2
3

# map

In [2]:
l=[1,2,2,3,4,5,6,7]
a=[]
for i in l:
    a.append(i**2)
print(a)

[1, 4, 4, 9, 16, 25, 36, 49]

In [6]:
list(map(lambda i:i+10,l))

[11, 12, 12, 13, 14, 15, 16, 17]

In [ ]:
Wap to check which number is even or odd
[1,2,3,4,5,6]
[odd,even,]

In [7]:
def func(i):
    if i%2==0:
        return 'Even'
    else:
        return 'Odd'
l=[1,2,3,4,5,6]
list(map(func,l))

['Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even']

In [8]:
list(map(lambda i:'Even' if i%2==0 else 'Odd',l))

['Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even']

In [17]:
a=lambda i:i>5
l=[1,2,3,3,4,5,6,7,8]
list(filter(a,l))

[6, 7, 8]

In [18]:
import numpy as np

In [22]:
def prime(n):
    for i in range(2,n):
        if n%i==0:
            return False
    else:
        return True
a=np.arange(1,100,1)
print(list(filter(prime,a)))

[1, 2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

In [28]:
a=lambda i:True if i%2==0 else False
list(filter(a,[1,2,3,4,5,6,7,8,9,10]))

[2, 4, 6, 8, 10]

In [24]:
list(map(a,[1,2,3,4,5,6,7,8,9,10]))

['Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even']

In [29]:
[i for i in range(1,31)]

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30]

In [32]:
l=[i for i in range(1,31)]
a=lambda i:i**2 if i%2==0 else i**3
l1=list(map(a,l))
b=lambda i:True if i%5==0 or i%7==0 else False
list(filter(b,l1))

[125, 343, 100, 196, 3375, 400, 9261, 15625, 784, 900]

In [33]:
list(filter(lambda i:True if i%5==0 or i%7==0 else False,list(map(lambda i:i**2 if i%2==0 else i**3,[i for i in range(1,31)]))))

[125, 343, 100, 196, 3375, 400, 9261, 15625, 784, 900]

In [34]:
from functools import reduce

In [39]:
reduce(lambda i,j:i+j,[1,2,3,4,5,6])

21

In [41]:
;reduce(lambda i,j:i**2+j**2,[1,6,5,6])

1943272

In [1]:
l=[1,2,2,3,4,5,6,7]

a=lambda i:i+10

list(map(a,l))

[11, 12, 12, 13, 14, 15, 16, 17]

In [9]:
d={
    'Cust1':{'ord1':{'products':['Bag'],'price':[4000],'Quantity':[1]}
             ,
             'ord2':{'products':['Bag','tshirt'],'price':[4000,7000],'Quantity':[1,2]}
             ,
             'ord3':{'products':['Bag','Shirts'],'price':[4000,700],'Quantity':[1,5]}
             
            }
    
    ,
    'Cust2':{'ord1':{'products':['shoe'],'price':[2000],'Quantity':[2]}
                    }
    
    
    
}

#customer_id 
'''
1.maximum price of product bought till now 
2.last bill total amount 
3.total amount of product bought till now 
4.Avg order Value 
'''
#map,filter,reduce 

cust_id=input('Enter customer id').title()
l=d[cust_id].keys()
max_value=[]
for i in l:
    max_value.append(max(d[cust_id][i]['price']))
print(f'Maxium order value product till now of {cust_id} is {max(max_value)}')
price=d[cust_id][list(d[cust_id].keys())[-1]]['price']
quantity=d[cust_id][list(d[cust_id].keys())[-1]]['Quantity']
total=0
for i,j in zip(price,quantity):
    total+=i*j
print('Total Amount',total)

Enter customer idcust1
Maxium order value product till now of Cust1 is 7000
Total Amount 7500

In [6]:
list(d[cust_id].keys())[-1]

'ord3'

In [12]:
def get_alpha(name):
    print('detail Received')
def print_alpha(name):
    print('Name  ',name)
    print(get_alpha(name))
    print('Hi')
print_alpha('Sachin')

Name   Sachin
detail Received
None
Hi

In [22]:
def print_alpha(n,i=1):
    if i==10:
        print(f'{n} * {i} = {n*i}')
        return 'Task Completed'
    else:
        print(f'{n} * {i} = {n*i}')
        return print_alpha(n,i+1)

In [23]:
print_alpha(5)

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

'Task Completed'

In [24]:
def func1():
    print('Hello')
    return 10
    print('hi')
func1()

Hello

10

In [28]:
# Any -->True/False
#True --> any value/Element in a iterable True 
any([None ,0, False])

False

In [29]:
# True --> In case all values are True 
# False --> atleast one value is False
all([1,2,3,4,0])

False

In [30]:
all([1,2,3,4])

True

In [31]:
all([])

True

In [32]:
any([])

False

In [35]:
list(enumerate(['A','B','C'],start=10))

[(10, 'A'), (11, 'B'), (12, 'C')]