list mutable
tuple 
--Immutable,
--()

In [1]:
t=(1,2,3,4)

In [2]:
type(t)

tuple

In [3]:
t=()
type(t)

tuple

In [8]:
t=(2,)
type(t)

tuple

In [12]:
t=tuple([1,12,3,4,5,])

In [13]:
list(t)

[1, 12, 3, 4, 5]

In [14]:
print(dir(tuple))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [ ]:
function ,tuple-->()
data access ,list->[]
set dictionary --> {}

In [ ]:
t=('Sachin','Ravi','Simran','Deepratan')
#Alphatebically roll no
Wap insert 
remove student

name 
roll no

In [18]:
t=('Sachin','Ravi','Simran','Deepratan')
a=list(t)
a.sort()

In [19]:
a

['Deepratan', 'Ravi', 'Sachin', 'Simran']

In [20]:
t=('Sachin','Ravi','Simran','Deepratan')
a=list(t)
a.sort()
a.append(input('Enter name of student to add'))
a.remove(input('Enter name of student to remove'))
name=input('Enter name')
print('Roll no of stuent',a.index(name)+1)

Enter name of student to addGourav
Enter name of student to removeSimran
Enter nameRavi
Roll no of stuent 2

In [21]:
a

['Deepratan', 'Ravi', 'Sachin', 'Gourav']

# Dictionary

Key : value pairs
    
key -->unique

key->basic data type

dictioary python 3.6 Unordered
                3.7 onwards  Ordered
    
# dict()-->for creating dictionary

In [22]:
d={}
type(d)

dict

In [27]:
d={1:'a','b':10,'c':True,5:[1,2,3,4,5]}

In [28]:
d

{1: 'a', 'b': 10, 'c': True, 5: [1, 2, 3, 4, 5]}

In [29]:
d[1]

'a'

In [37]:
d

{1: 'a', 'b': 10, 'c': True, 5: [1, 2, 3, 4]}

In [38]:
d={
    'country':{
        
            'India':'130CR',
            'Pakisthan':'15CR',
            'Sri Lanka':'20CR'
    
                }
}

In [39]:
d

{'country': {'India': '130CR', 'Pakisthan': '15CR', 'Sri Lanka': '20CR'}}

In [41]:
d['country']['Pakisthan']

'15CR'

In [42]:
                          
d={
  "coord": {
    "lon": 10.99,
    "lat": 44.34
  },
  "weather": [
    {
      "id": 501,
      "main": "Rain",
      "description": "moderate rain",
      "icon": "10d"
    }
  ],
  "base": "stations",
  "main": {
    "temp": 298.48,
    "feels_like": 298.74,
    "temp_min": 297.56,
    "temp_max": 300.05,
    "pressure": 1015,
    "humidity": 64,
    "sea_level": 1015,
    "grnd_level": 933
  },
  "visibility": 10000,
  "wind": {
    "speed": 0.62,
    "deg": 349,
    "gust": 1.18
  },
  "rain": {
    "1h": 3.16
  },
  "clouds": {
    "all": 100
  },
  "dt": 1661870592,
  "sys": {
    "type": 2,
    "id": 2075663,
    "country": "IT",
    "sunrise": 1661834187,
    "sunset": 1661882248
  },
  "timezone": 7200,
  "id": 3163858,
  "name": "Zocca",
  "cod": 200
}

Country


temp_max


temp_min


description

In [47]:
d['sys']['country']

'IT'

In [49]:
d['main']['temp_max']

300.05

In [52]:
d['weather'][0]['description']

'moderate rain'